**Apriori** **Algorithm**

Name - Rajshree Srivastava<br>
Class - B.Tech CS IV year<br>
Roll no. - 1913063<br>
ID no. - BTBTC19302<br>
Subject - DMW Assignment 1<br>
Submitted to - Dr. Nisheeth Joshi

In [ ]:
%pip install mlxtend
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.5.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [ ]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt','Mango'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt','Mango'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs','Mango'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt','Mango'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs','Mango']]

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Mango,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,True,False,True
1,False,False,True,True,False,True,True,False,True,True,False,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,False,True,False,False,False,True,True,True,False,False,True,True
4,False,True,False,True,True,True,True,False,False,True,False,False

In [ ]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.6)

    support      itemsets
0       0.8           (3)
1       1.0           (5)
2       1.0           (6)
3       0.6           (7)
4       0.6           (9)
5       0.6          (11)
6       0.8        (3, 5)
7       0.8        (3, 6)
8       0.6        (9, 3)
9       1.0        (5, 6)
10      0.6        (5, 7)
11      0.6        (9, 5)
12      0.6       (11, 5)
13      0.6        (6, 7)
14      0.6        (9, 6)
15      0.6       (11, 6)
16      0.8     (3, 5, 6)
17      0.6     (9, 3, 5)
18      0.6     (9, 3, 6)
19      0.6     (5, 6, 7)
20      0.6     (9, 5, 6)
21      0.6    (11, 5, 6)
22      0.6  (9, 3, 5, 6)

In [ ]:
apriori(df, min_support=0.6, use_colnames=True)

    support                            itemsets
0       0.8                              (Eggs)
1       1.0                      (Kidney Beans)
2       1.0                             (Mango)
3       0.6                              (Milk)
4       0.6                             (Onion)
5       0.6                            (Yogurt)
6       0.8                (Eggs, Kidney Beans)
7       0.8                       (Eggs, Mango)
8       0.6                       (Eggs, Onion)
9       1.0               (Mango, Kidney Beans)
10      0.6                (Milk, Kidney Beans)
11      0.6               (Onion, Kidney Beans)
12      0.6              (Yogurt, Kidney Beans)
13      0.6                       (Milk, Mango)
14      0.6                      (Mango, Onion)
15      0.6                     (Yogurt, Mango)
16      0.8         (Eggs, Mango, Kidney Beans)
17      0.6         (Eggs, Onion, Kidney Beans)
18      0.6                (Eggs, Mango, Onion)
19      0.6         (Milk, Mango, Kidney Beans)
20      0.6        (Mango, Onion, Kidney Beans)
21      0.6       (Yogurt, Mango, Kidney Beans)
22      0.6  (Eggs, Mango, Onion, Kidney Beans)

In [ ]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                            itemsets  length
0       0.8                              (Eggs)       1
1       1.0                      (Kidney Beans)       1
2       1.0                             (Mango)       1
3       0.6                              (Milk)       1
4       0.6                             (Onion)       1
5       0.6                            (Yogurt)       1
6       0.8                (Eggs, Kidney Beans)       2
7       0.8                       (Eggs, Mango)       2
8       0.6                       (Eggs, Onion)       2
9       1.0               (Mango, Kidney Beans)       2
10      0.6                (Milk, Kidney Beans)       2
11      0.6               (Onion, Kidney Beans)       2
12      0.6              (Yogurt, Kidney Beans)       2
13      0.6                       (Milk, Mango)       2
14      0.6                      (Mango, Onion)       2
15      0.6                     (Yogurt, Mango)       2
16      0.8         (Eggs, Mango, Kidney Beans)       3
17      0.6         (Eggs, Onion, Kidney Beans)       3
18      0.6                (Eggs, Mango, Onion)       3
19      0.6         (Milk, Mango, Kidney Beans)       3
20      0.6        (Mango, Onion, Kidney Beans)       3
21      0.6       (Yogurt, Mango, Kidney Beans)       3
22      0.6  (Eggs, Mango, Onion, Kidney Beans)       4

In [ ]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.6) ]

    support                itemsets  length
6       0.8    (Eggs, Kidney Beans)       2
7       0.8           (Eggs, Mango)       2
8       0.6           (Eggs, Onion)       2
9       1.0   (Mango, Kidney Beans)       2
10      0.6    (Milk, Kidney Beans)       2
11      0.6   (Onion, Kidney Beans)       2
12      0.6  (Yogurt, Kidney Beans)       2
13      0.6           (Milk, Mango)       2
14      0.6          (Mango, Onion)       2
15      0.6         (Yogurt, Mango)       2

In [ ]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Onion', 'Eggs'} ]

   support       itemsets  length
8      0.6  (Eggs, Onion)       2

In [ ]:
frequent_itemsets[ (frequent_itemsets['length'] == 3) &
                   (frequent_itemsets['support'] >= 0.6) ]

    support                       itemsets  length
16      0.8    (Eggs, Mango, Kidney Beans)       3
17      0.6    (Eggs, Onion, Kidney Beans)       3
18      0.6           (Eggs, Mango, Onion)       3
19      0.6    (Milk, Mango, Kidney Beans)       3
20      0.6   (Mango, Onion, Kidney Beans)       3
21      0.6  (Yogurt, Mango, Kidney Beans)       3

In [ ]:
frequent_itemsets[ (frequent_itemsets['length'] == 4) &
                   (frequent_itemsets['support'] >= 0.6) ]

    support                            itemsets  length
22      0.6  (Eggs, Mango, Onion, Kidney Beans)       4

In [ ]:
frequent_itemsets[ (frequent_itemsets['length'] == 5) &
                   (frequent_itemsets['support'] >= 0.6) ]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []